@layer reset, base, tokens, recipes, utilities;

[data-theme='light']  {
  color: black;
  background-color: white;
}

[data-theme='dark']  {
  color: white;
  background-color: #111827;
}

pre code:not(.hljs) {
  display: block !important;
  overflow-x: auto !important;
  padding: 1em !important;
}